.container {
    border: 6px solid black;
    display: flex;
    height: 500px;
    align-items: flex-end;
}
.items {
    text-align: center;
    padding: 1rem;
    color: white;   
    font-size: 3rem;
    width: 8rem;
}
.item-1 {
    background-color: red; 
    align-self: flex-end;
}
.item-2 {
    background-color: green;
    align-self: flex-start;
}
.item-3 {
    background-color: yellow;
    align-self: stretch;
}

.item-4 {
    background-color: blue;
    align-self: center;
}
.item-5 {
    background-color: lawngreen;  
    /* align-self: auto (by default), takes the value of align-items of the parent element. */
}
.item-6 {
    background-color: purple;
}
.item-7 {
    background-color: saddlebrown; 
}